html {
    height: 100%;
    width: 100%;

}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.content-wrapper {
    background-color: white;
    height: 30em;
    width: 35em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    
}

div.img-wrapper {
    background-image: url('./images/image-product-desktop.jpg');
    background-size: 400px 600px;
    background-position: center;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 50%;
    border-radius: 1em 0 0 1em;
    display: grid;
    position: relative;

}

div.product-wrapper {
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 50%;
    border-radius: 0 1em 1em 0;

}

.product-wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8em;
    letter-spacing: .4em; 
    color: hsl(228, 12%, 48%);
    margin: 2em;
    height: 1em;

}

.product-wrapper h1 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    margin: .8em;
    height: 3.5em;

}

.product-wrapper p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: hsl(228, 12%, 48%);
    margin: 2em;
    line-height: 1.5em;
    width: 15em;

}

.cost-wrapper {
    display: flex;
    align-items: center;
    height: 2em;
    margin: 2em;
}

.cost-wrapper h1 {
    color: rgba(60,127,106,1);
    font-family: 'Fraunces', serif;
    font-size: 2em;
    margin: .8em 0 .8em 0;
    height: 1em; 
    

}

.cost-wrapper p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: .8em;
    height: 1em;
    text-decoration: line-through;
    
}

button {
    background-color: rgba(79,127,106,1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
    border: 0;
    border-radius: .8em;
    margin: 0 1.8em 1.8em 1.8em;
    height: 100%;
    width: 80%;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-wrapper img {
    margin: .8em;
    
}
